<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register a Project</title>
</head>
<body>
    <h1>案件登録</h1>
    <form action="/admin_register" method="post">
        <label for="title">案件:</label>
        <input type="text" id="title" name="title" required><br><br>
        <label for="description">内容:</label>
        <input type="text" id="description" name="description" required><br><br>
        <label for="manager">担当者:</label>
        <input type="text" id="manager" name="manager" required><br><br>
        <input type="submit" value="登録">
    </form>
</body>
</html>
